USE [master]
GO
/****** Object:  Database [FacturaDB]    Script Date: 6/11/2023 13:55:20 ******/
CREATE DATABASE [FacturaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacturaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FacturaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacturaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FacturaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacturaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacturaDB]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 6/11/2023 13:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [nvarchar](255) NULL,
	[Cantidad] [int] NULL,
	[MontoTotalLinea] [decimal](18, 2) NULL,
	[FacturaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 6/11/2023 13:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nit] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Fecha] [date] NULL,
	[Correlativo] [nvarchar](50) NULL,
	[MontoTotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([Id], [Producto], [Cantidad], [MontoTotalLinea], [FacturaId]) VALUES (1, N'Camisa', 1, CAST(95.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[DetalleFactura] ([Id], [Producto], [Cantidad], [MontoTotalLinea], [FacturaId]) VALUES (2, N'Pantalon', 2, CAST(500.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[DetalleFactura] ([Id], [Producto], [Cantidad], [MontoTotalLinea], [FacturaId]) VALUES (3, N'Gorra', 2, CAST(150.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([Id], [Nit], [Nombre], [Fecha], [Correlativo], [MontoTotal]) VALUES (1, N'74872567', N'Luis Reyes', NULL, N'1', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Factura] ([Id], [Nit], [Nombre], [Fecha], [Correlativo], [MontoTotal]) VALUES (2, N'80579094', N'Brenda Davila Esquivel', CAST(N'2023-11-06' AS Date), N'2', CAST(500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([FacturaId])
REFERENCES [dbo].[Factura] ([Id])
GO
USE [master]
GO
